<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wei.demo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BIND_SCREENING_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BIND_JOB_SERVICE"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SencondActivity"
            android:launchMode="singleTask">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN"/>-->


             <!--<category android:name="android.intent.category.LAUNCHER"/>-->
             <!--</intent-filter>-->
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wei.service"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.NewControlActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".ui.TestActivity"/>
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="图库"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"/>

        <service
            android:name=".service.StickyLocaService"
            android:enabled="true"
            android:process=":loca">
        </service>
        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
        <!--<service-->
            <!--android:name=".service.MyJobService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE"-->
            <!--android:process=":job"/>-->
        <service
            android:name=".service.CancelService"
            android:exported="true">
        </service>
        <service
            android:name=".service.MyAccessibiliService"
            android:label="@string/accessibility_description"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:value="@xml/envelope_service_config"/>
        </service>

        <activity android:name=".ui.ServiceTestActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.NotifiActivity"/>
        <receiver
            android:name=".receiver.MyOrderReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wei.demo.test"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="com.wei.demo.test"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>